@media screen and (max-width: 1400px) {
  /* line 3, sass/media.scss */
  #main-content .testimonials {
    width: 75%;
  }
  /* line 5, sass/media.scss */
  #main-content .testimonials .motivational {
    margin-top: 50px;
  }
  /* line 12, sass/media.scss */
  #main-content .master-slider-parent .master-slider .ms-container .ms-view {
    height: 400px !important;
  }
  /* line 15, sass/media.scss */
  #main-content .master-slider-parent .master-slider .ms-container .ms-inner-controls-cont {
    width: 75%;
  }
  /* line 19, sass/media.scss */
  #main-content .master-slider-parent .master-slider .ms-slide-info {
    width: 75%;
  }
  /* line 22, sass/media.scss */
  #main-content .master-slider-parent .master-slider .ms-slide-info .ms-info .test {
    width: 80%;
    top: 150px;
    font-size: 30px;
  }
  /* line 31, sass/media.scss */
  #main-content .button {
    bottom: -125%;
    right: 10%;
    font-size: 14px;
  }
}
@media screen and (max-width: 1325px) {
  /* line 45, sass/media.scss */
  #second-content #secondary #content .text-section .fullText.main .bg img {
    width: 150%;
    left: -25%;
  }
}
@media screen and (max-width: 1250px) {
  /* line 58, sass/media.scss */
  #main-content .text-section {
    width: 90%;
  }
  /* line 61, sass/media.scss */
  #main-content .text-section .image img {
    width: 125%;
    left: -12.5%;
  }
  /* line 68, sass/media.scss */
  #main-content .full-section .text {
    width: 90%;
    text-align: center;
  }
}
@media screen and (max-width: 1200px) {
  /* line 78, sass/media.scss */
  .site-header .header-main #primary-navigation {
    width: 70%;
  }
  /* line 82, sass/media.scss */
  .site-header .header-main #primary-navigation .menu-main-container ul li {
    padding: 0 15px;
  }

  /* line 94, sass/media.scss */
  #main-content .main-image img {
    width: 100%;
    left: -15%;
  }
  /* line 99, sass/media.scss */
  #main-content .testimonials {
    width: 100%;
  }
  /* line 105, sass/media.scss */
  #main-content .master-slider-parent .master-slider .ms-container .ms-view {
    height: 400px !important;
  }
  /* line 108, sass/media.scss */
  #main-content .master-slider-parent .master-slider .ms-container .ms-inner-controls-cont {
    width: 100%;
  }
  /* line 112, sass/media.scss */
  #main-content .master-slider-parent .master-slider .ms-slide-info {
    width: 100%;
  }

  /* line 122, sass/media.scss */
  #second-content #secondary #content .testimonials .fullText.main {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 1080px) {
  /* line 136, sass/media.scss */
  .site-header .header-main #primary-navigation .menu-main-container ul li {
    padding: 0 10px;
  }
  /* line 138, sass/media.scss */
  .site-header .header-main #primary-navigation .menu-main-container ul li a {
    font-size: 15px;
  }

  /* line 150, sass/media.scss */
  #main-content .text-section .image img {
    width: auto;
    left: 0;
    height: 100%;
  }
  /* line 156, sass/media.scss */
  #main-content .text-section .title {
    font-size: 17px;
  }

  /* line 166, sass/media.scss */
  #second-content #secondary #content .text-section .fullText .text {
    width: 85%;
  }
}
@media screen and (max-width: 980px) {
  /* line 176, sass/media.scss */
  .site-header {
    overflow: hidden;
    border-bottom: none;
  }
  /* line 179, sass/media.scss */
  .site-header .header-main {
    position: relative;
  }
  /* line 180, sass/media.scss */
  .site-header .header-main .toggle {
    display: inline-block;
  }
  /* line 184, sass/media.scss */
  .site-header .header-main #primary-navigation {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
  }
  /* line 191, sass/media.scss */
  .site-header .header-main #primary-navigation .menu-main-container ul {
    height: auto;
    margin-right: 0;
  }
  /* line 194, sass/media.scss */
  .site-header .header-main #primary-navigation .menu-main-container ul li {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  /* line 197, sass/media.scss */
  .site-header .header-main #primary-navigation .menu-main-container ul li a {
    width: 100%;
    text-align: center;
    display: inline-block;
    line-height: 20px;
    padding: 25px 0;
    font-size: 18px;
  }

  /* line 213, sass/media.scss */
  #main-content .main-image img {
    width: 125%;
    left: -25%;
  }
  /* line 219, sass/media.scss */
  #main-content .text-section .football {
    width: 80%;
  }
  /* line 222, sass/media.scss */
  #main-content .text-section .lac {
    width: 75%;
    top: 85%;
    left: 21%;
  }

  /* line 236, sass/media.scss */
  #second-content #secondary #content .news .text-section .fullText.main .bg img {
    width: 100%;
    height: auto;
  }
  /* line 241, sass/media.scss */
  #second-content #secondary #content .news .text-section .fullText.main p {
    width: 70%;
  }
  /* line 251, sass/media.scss */
  #second-content #secondary #content .media .text-section .fullText.main .bg img {
    width: 125%;
    left: -15%;
    height: auto;
  }
  /* line 263, sass/media.scss */
  #second-content #secondary #content .text-section .fullText.main .bg img {
    position: initial;
    left: 0;
    width: auto;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* line 279, sass/media.scss */
  #main-content .main-image img {
    width: 175%;
    left: -50%;
  }
  /* line 285, sass/media.scss */
  #main-content .testimonials .motivational {
    font-size: 17px;
    margin-top: 30px;
  }
  /* line 290, sass/media.scss */
  #main-content .button {
    bottom: -290px;
  }
  /* line 295, sass/media.scss */
  #main-content .master-slider-parent .master-slider .ms-bullets {
    opacity: 0;
  }
  /* line 300, sass/media.scss */
  #main-content .master-slider-parent .master-slider .ms-slide-info .ms-info .test {
    top: 110px;
    font-size: 28px;
  }

  /* line 311, sass/media.scss */
  #main-content .text-section .col-xs-12 {
    margin-bottom: 25px;
  }
  /* line 314, sass/media.scss */
  #main-content .text-section .image {
    height: 300px;
  }
  /* line 316, sass/media.scss */
  #main-content .text-section .image img {
    width: 100%;
    height: auto;
  }
  /* line 321, sass/media.scss */
  #main-content .text-section .title {
    font-size: 26px;
  }
  /* line 324, sass/media.scss */
  #main-content .text-section .football {
    width: 50%;
    top: 0;
    left: -15px;
  }
  /* line 329, sass/media.scss */
  #main-content .text-section .lac {
    width: 48%;
    top: 0;
    left: inherit;
    right: 0;
  }
  /* line 335, sass/media.scss */
  #main-content .text-section .video {
    height: auto;
  }
  /* line 337, sass/media.scss */
  #main-content .text-section .video .vids {
    overflow: visible;
    background: black;
  }
  /* line 340, sass/media.scss */
  #main-content .text-section .video .vids iframe {
    height: auto;
    min-height: 400px;
  }
  /* line 345, sass/media.scss */
  #main-content .text-section .video .circle {
    display: none;
  }
  /* line 351, sass/media.scss */
  #main-content .button-section .video_button {
    width: 80%;
    margin: 0 auto 50px;
    padding: 30px 0;
  }

  /* line 362, sass/media.scss */
  #second-content #secondary #content .text-section .fullText {
    padding-top: 0;
  }
  /* line 365, sass/media.scss */
  #second-content #secondary #content .text-section .fullText .text .right {
    width: 100%;
    padding: 0;
    border: none;
  }
  /* line 370, sass/media.scss */
  #second-content #secondary #content .text-section .fullText .text .left {
    width: 100%;
  }
}
@media screen and (max-width: 625px) {
  /* line 384, sass/media.scss */
  #main-content .text-section .image img {
    width: 150%;
    left: -25%;
  }
  /* line 389, sass/media.scss */
  #main-content .text-section .football {
    width: 52.25%;
  }

  /* line 395, sass/media.scss */
  footer .col-md-3 {
    margin-bottom: 20px;
  }
  /* line 397, sass/media.scss */
  footer .col-md-3 .inner {
    width: 100%;
  }

  /* line 406, sass/media.scss */
  .media .text-section .fullText.main .bg img {
    width: auto !important;
    left: 0 !important;
    height: 100% !important;
  }
  /* line 416, sass/media.scss */
  .media .text-section .fullText .text .about_image img {
    top: 0;
  }
}
@media screen and (max-width: 530px) {
  /* line 428, sass/media.scss */
  #main-content .main-image img {
    width: 250%;
    left: -75%;
  }
  /* line 433, sass/media.scss */
  #main-content .button {
    right: 20%;
    left: 20%;
    text-align: center;
  }
  /* line 441, sass/media.scss */
  #main-content .text-section .video .vids iframe {
    min-height: 250px;
  }
  /* line 449, sass/media.scss */
  #main-content .full-section .text .title {
    line-height: 50px;
  }
  /* line 452, sass/media.scss */
  #main-content .full-section .text .subTitle {
    margin-top: 15px;
    font-size: 20px;
  }

  /* line 463, sass/media.scss */
  #second-content #secondary #content .text-section .fullText.main {
    padding: 50px 0;
  }
  /* line 465, sass/media.scss */
  #second-content #secondary #content .text-section .fullText.main .title {
    width: 100%;
  }
  /* line 469, sass/media.scss */
  #second-content #secondary #content .text-section .fullText.main p:last-of-type {
    display: none;
  }
  /* line 477, sass/media.scss */
  #second-content #secondary #content .news .fullText.main p {
    display: inline-block !important;
    font-size: 18px;
    width: 90% !important;
  }
  /* line 487, sass/media.scss */
  #second-content #secondary #content .media .text-section .fullText.main .bg {
    height: 180px;
  }
}
