/*
Theme Name: thereback
*/
@font-face {
  font-family: 'Mono Social Icons Font';
  src: url("fonts/MonoSocialIconsFont-1.10.eot");
  src: url("fonts/MonoSocialIconsFont-1.10.eot?#iefix") format("embedded-opentype"), url("fonts/MonoSocialIconsFont-1.10.woff") format("woff"), url("fonts/MonoSocialIconsFont-1.10.ttf") format("truetype"), url("fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format("svg");
  src: url("fonts/MonoSocialIconsFont-1.10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 17, sass/style.scss */
.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 31, sass/style.scss */
a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
}

/* line 1, sass/navigation.scss */
.site-header {
  display: inline-block;
  width: 100%;
  height: 110px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
}
/* line 10, sass/navigation.scss */
.site-header.open {
  height: 100vh;
}
/* line 12, sass/navigation.scss */
.site-header.open .header-main {
  height: 110px;
}
/* line 16, sass/navigation.scss */
.site-header .header-main {
  display: inline-block;
  width: inherit;
  height: inherit;
}
/* line 20, sass/navigation.scss */
.site-header .header-main .logo {
  display: inline-block;
  width: 250px;
  margin: 10px 0 0 15px;
}
/* line 24, sass/navigation.scss */
.site-header .header-main .logo img {
  width: 100%;
  height: auto;
}
/* line 29, sass/navigation.scss */
.site-header .header-main #primary-navigation {
  display: inline-block;
  width: 60%;
  float: right;
  height: inherit;
}
/* line 34, sass/navigation.scss */
.site-header .header-main #primary-navigation .menu-main-container {
  height: inherit;
}
/* line 36, sass/navigation.scss */
.site-header .header-main #primary-navigation .menu-main-container ul {
  height: inherit;
  list-style: none;
  margin: 0 20px 0 0;
  padding: 0;
  text-align: right;
}
/* line 43, sass/navigation.scss */
.site-header .header-main #primary-navigation .menu-main-container ul:hover li {
  opacity: .5;
}
/* line 47, sass/navigation.scss */
.site-header .header-main #primary-navigation .menu-main-container ul li {
  height: inherit;
  padding: 0 20px;
  display: inline-block;
  position: relative;
  -webkit-transition: .25s;
  -o-transition: .25s;
  -ms-transition: .25s;
  -moz-transition: .25s;
}
/* line 57, sass/navigation.scss */
.site-header .header-main #primary-navigation .menu-main-container ul li:hover .sub-menu {
  opacity: 1;
}
/* line 61, sass/navigation.scss */
.site-header .header-main #primary-navigation .menu-main-container ul li .sub-menu {
  top: 100%;
  height: auto;
  position: absolute;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: white;
  text-align: center;
  z-index: 100;
  left: 0%;
  top: 85%;
  display: inline-block;
  opacity: 0;
}
/* line 74, sass/navigation.scss */
.site-header .header-main #primary-navigation .menu-main-container ul li .sub-menu li {
  position: relative;
  padding: 0;
  display: inline-block;
  width: 100%;
}
/* line 80, sass/navigation.scss */
.site-header .header-main #primary-navigation .menu-main-container ul li .sub-menu li.current_page_item a {
  background: #76c36e;
  color: white;
}
/* line 85, sass/navigation.scss */
.site-header .header-main #primary-navigation .menu-main-container ul li .sub-menu li a {
  line-height: 17px;
  font-size: 12px;
  display: inline-block;
  width: 100%;
}
/* line 90, sass/navigation.scss */
.site-header .header-main #primary-navigation .menu-main-container ul li .sub-menu li a:after {
  display: none;
}
/* line 96, sass/navigation.scss */
.site-header .header-main #primary-navigation .menu-main-container ul li:hover {
  opacity: 1;
}
/* line 99, sass/navigation.scss */
.site-header .header-main #primary-navigation .menu-main-container ul li a {
  line-height: 100px;
  font-family: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.65);
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px 0;
  background: white;
  -webkit-transition: .15s;
  -o-transition: .15s;
  -ms-transition: .15s;
  -moz-transition: .15s;
  position: relative;
}
/* line 112, sass/navigation.scss */
.site-header .header-main #primary-navigation .menu-main-container ul li a:hover {
  opacity: 1;
  color: #76c36e;
  text-decoration: none;
}
/* line 119, sass/navigation.scss */
.site-header .header-main #primary-navigation .menu-main-container ul li.current_page_item a {
  color: #76c36e;
  opacity: 1;
}
/* line 122, sass/navigation.scss */
.site-header .header-main #primary-navigation .menu-main-container ul li.current_page_item a:after {
  content: '';
  width: 100%;
  position: absolute;
  height: 50px;
  background: #76c36e;
  display: inline-block;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: -1;
}
/* line 167, sass/navigation.scss */
.site-header .search-tog {
  display: none !important;
}
/* line 169, sass/navigation.scss */
.site-header .search-tog .screen-reader-text {
  color: transparent;
  width: 100%;
  height: 100%;
  display: inline-block;
  cursor: pointer;
}
/* line 175, sass/navigation.scss */
.site-header .search-tog .screen-reader-text:after {
  content: "\e003";
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  color: white;
  position: absolute;
  left: 30%;
  top: 20%;
  font-size: 25px;
}

/* line 188, sass/navigation.scss */
#search-container {
  display: none;
}
/* line 195, sass/navigation.scss */
#search-container .search-box form label .screen-reader-text {
  display: none;
}

/* line 226, sass/navigation.scss */
.toggle {
  display: none;
  position: absolute;
  top: 35px;
  right: 25px;
  width: 60px;
  height: 32px;
  padding: 0px 10px;
  color: #76c36e;
  cursor: pointer;
  opacity: .75;
  -webkit-transition: .15s;
  -moz-transition: .15s;
  -o-transition: .15s;
  -ms-transition: .15s;
}
/* line 241, sass/navigation.scss */
.toggle:hover {
  opacity: 1;
}
/* line 244, sass/navigation.scss */
.toggle span {
  display: block;
  border: 2px solid #76c36e;
  background-color: #76c36e;
  height: 7px;
  border-radius: 50px;
  margin-bottom: 5px;
}

/* line 1, sass/home.scss */
#main-content {
  position: relative;
  z-index: 10;
}
/* line 4, sass/home.scss */
#main-content .entry-header {
  display: none;
}
/* line 7, sass/home.scss */
#main-content .main-image {
  display: inline-block;
  width: 100%;
  background: black;
  height: 80vh;
  min-height: 500px;
  overflow: hidden;
}
/* line 14, sass/home.scss */
#main-content .main-image img {
  width: 100%;
  opacity: .65;
  display: inline-block;
  position: relative;
  top: -100px;
}
/* line 23, sass/home.scss */
#main-content .testimonials {
  position: absolute;
  top: 0px;
  left: 0;
  width: 50%;
}
/* line 28, sass/home.scss */
#main-content .testimonials .motivational {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 900;
  font-size: 20px;
  margin-top: 100px;
}
/* line 36, sass/home.scss */
#main-content .testimonials hr {
  width: 75%;
  display: block;
  margin: 20px auto;
}
/* line 42, sass/home.scss */
#main-content .button {
  position: absolute;
  bottom: -200%;
  right: 15%;
  background: #76c36e;
  padding: 10px 30px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  font-weight: 900;
  font-size: 16px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  -moz-transition: .2s;
  opacity: .85;
}
/* line 61, sass/home.scss */
#main-content .button:hover {
  opacity: 1;
  text-decoration: none;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
/* line 70, sass/home.scss */
#main-content .master-slider-parent {
  position: absolute !important;
  top: 0;
}
/* line 73, sass/home.scss */
#main-content .master-slider-parent .master-slider {
  position: relative;
}
/* line 75, sass/home.scss */
#main-content .master-slider-parent .master-slider .ms-container {
  display: inline-block;
  z-index: 1000;
  width: 100%;
  position: absolute;
}
/* line 80, sass/home.scss */
#main-content .master-slider-parent .master-slider .ms-container .ms-inner-controls-cont {
  display: inline-block;
  width: 50%;
  float: left;
}
/* line 84, sass/home.scss */
#main-content .master-slider-parent .master-slider .ms-container .ms-inner-controls-cont .ms-bullets {
  display: inline-block !important;
  width: 100% !important;
  right: 0;
  text-align: center;
}
/* line 89, sass/home.scss */
#main-content .master-slider-parent .master-slider .ms-container .ms-inner-controls-cont .ms-bullets .ms-bullets-count {
  display: inline-block !important;
  margin: 0 auto;
  width: auto;
  right: 0;
}
/* line 94, sass/home.scss */
#main-content .master-slider-parent .master-slider .ms-container .ms-inner-controls-cont .ms-bullets .ms-bullets-count .ms-bullet {
  width: 10px;
  top: -25px;
  position: relative;
  height: 10px;
  background: transparent;
  border: 1px solid #76c36e;
}
/* line 101, sass/home.scss */
#main-content .master-slider-parent .master-slider .ms-container .ms-inner-controls-cont .ms-bullets .ms-bullets-count .ms-bullet.ms-bullet-selected {
  background: #76c36e;
}
/* line 109, sass/home.scss */
#main-content .master-slider-parent .master-slider .ms-slide-info {
  text-align: right;
  position: absolute !important;
  top: 20px;
  width: 60%;
  left: 0;
  height: 100%;
  text-align: center;
}
/* line 117, sass/home.scss */
#main-content .master-slider-parent .master-slider .ms-slide-info .ms-info {
  position: absolute;
  width: 100%;
  top: 0;
}
/* line 121, sass/home.scss */
#main-content .master-slider-parent .master-slider .ms-slide-info .ms-info .test {
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 200px;
  font-size: 32px;
  color: #76c36e;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  z-index: 1;
}
/* line 131, sass/home.scss */
#main-content .master-slider-parent .master-slider .ms-slide-info .ms-info .test:before {
  content: '"';
  font-family: serif;
  font-size: 130px;
  color: white;
  position: absolute;
  top: -45px;
  left: -20px;
  opacity: .15;
  z-index: -1;
}
/* line 142, sass/home.scss */
#main-content .master-slider-parent .master-slider .ms-slide-info .ms-info .test:after {
  content: '"';
  font-family: serif;
  font-size: 130px;
  color: white;
  position: absolute;
  top: -45px;
  right: -20px;
  opacity: .15;
  z-index: -1;
}
/* line 158, sass/home.scss */
#main-content .row {
  text-align: center;
}
/* line 161, sass/home.scss */
#main-content .text-section {
  display: inline-block;
  margin: 60px auto;
  width: 100%;
  max-width: 1250px;
  text-align: left;
}
/* line 167, sass/home.scss */
#main-content .text-section .image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: inline-block;
}
/* line 172, sass/home.scss */
#main-content .text-section .image img {
  width: 100%;
}
/* line 176, sass/home.scss */
#main-content .text-section .video {
  width: 100%;
  height: 200px;
  display: inline-block;
  position: relative;
}
/* line 181, sass/home.scss */
#main-content .text-section .video .vids {
  overflow: hidden;
  width: 100%;
  height: inherit;
  border-bottom: 5px solid white;
  background: white;
}
/* line 188, sass/home.scss */
#main-content .text-section .video .circle {
  display: inline-block;
  position: relative;
  width: 99%;
  left: 2px;
  top: -125px;
  background: #76c36e;
  height: 250px;
  border-radius: 50%;
  z-index: -1;
}
/* line 200, sass/home.scss */
#main-content .text-section .title {
  font-size: 22px;
  text-transform: uppercase;
  color: #76c36e;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  margin: 20px 0 10px 0;
}
/* line 208, sass/home.scss */
#main-content .text-section .subTitle {
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  margin: 10px 0 10px 0;
}
/* line 216, sass/home.scss */
#main-content .text-section p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 26px;
}
/* line 221, sass/home.scss */
#main-content .text-section p.large {
  font-size: 16px;
  margin-top: 30px;
}
/* line 226, sass/home.scss */
#main-content .text-section .football {
  width: 60%;
  position: relative;
  top: 20px;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.35);
  display: inline-block;
}
/* line 232, sass/home.scss */
#main-content .text-section .football img {
  width: 100%;
}
/* line 236, sass/home.scss */
#main-content .text-section .lac {
  width: 55%;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.35);
  display: inline-block;
  position: absolute;
  top: 55%;
  left: 35%;
}
/* line 243, sass/home.scss */
#main-content .text-section .lac img {
  width: 100%;
}
/* line 247, sass/home.scss */
#main-content .text-section .contact {
  position: relative;
  top: 35px;
  background: #76c36e;
  padding: 10px 30px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  font-weight: 900;
  font-size: 14px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  -moz-transition: .2s;
  opacity: .85;
}
/* line 265, sass/home.scss */
#main-content .text-section .contact:hover {
  opacity: 1;
  text-decoration: none;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
/* line 275, sass/home.scss */
#main-content .button-section {
  text-align: center;
  margin-top: -75px;
}
/* line 278, sass/home.scss */
#main-content .button-section .video_button {
  display: inline-block;
  width: 200px;
  margin: -100px auto 50px;
  position: relative;
  background: #76c36e;
  padding: 10px 30px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  font-weight: 900;
  font-size: 14px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  -moz-transition: .2s;
  opacity: .85;
}
/* line 298, sass/home.scss */
#main-content .button-section .video_button:hover {
  opacity: 1;
  text-decoration: none;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
/* line 308, sass/home.scss */
#main-content .full-section {
  display: inline-block;
  width: 100%;
  height: 500px;
}
/* line 312, sass/home.scss */
#main-content .full-section.book {
  background: url("http://www.armorsecurityandprotection.com/thereandback/wp-content/uploads/2016/10/12998282_1704913146428724_9180799062286382344_o.jpg") rgba(0, 0, 0, 0.75) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
}
/* line 318, sass/home.scss */
#main-content .full-section .text {
  display: inline-block;
  margin: 60px auto;
  width: 100%;
  max-width: 1250px;
  text-align: left;
  color: white;
}
/* line 325, sass/home.scss */
#main-content .full-section .text .title {
  font-size: 50px;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  margin-top: 40px;
}
/* line 333, sass/home.scss */
#main-content .full-section .text .subTitle {
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
}
/* line 340, sass/home.scss */
#main-content .full-section .text .button {
  position: relative;
  bottom: 0;
  top: 90px;
  right: 0;
  left: 0;
  text-transform: uppercase;
  font-size: 20px;
}

/* line 2, sass/secondary.scss */
#second-content #secondary {
  position: relative;
  z-index: 10;
}
/* line 5, sass/secondary.scss */
#second-content #secondary .entry-header {
  display: none;
}
/* line 8, sass/secondary.scss */
#second-content #secondary #content {
  text-align: center;
}
/* line 10, sass/secondary.scss */
#second-content #secondary #content .text-section {
  display: inline-block;
  margin: 0px auto;
  width: 100%;
  text-align: left;
  position: relative;
}
/* line 16, sass/secondary.scss */
#second-content #secondary #content .text-section .leftImage {
  width: 50%;
  display: inline-block;
  height: 450px;
  overflow: hidden;
}
/* line 21, sass/secondary.scss */
#second-content #secondary #content .text-section .leftImage img {
  width: 100%;
}
/* line 25, sass/secondary.scss */
#second-content #secondary #content .text-section .rightText {
  position: absolute;
  top: 80px;
  right: 0;
  width: 50%;
  background: white;
  padding: 60px 75px;
}
/* line 32, sass/secondary.scss */
#second-content #secondary #content .text-section .rightText .title {
  font-size: 35px;
  text-transform: uppercase;
  color: #76c36e;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  padding-bottom: 10px;
  margin: 0px 0 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 42, sass/secondary.scss */
#second-content #secondary #content .text-section .rightText p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 38px;
}
/* line 49, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  position: relative;
}
/* line 55, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText.image {
  text-align: center;
}
/* line 57, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText.image .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 500px;
  background: black;
  overflow: hidden;
}
/* line 65, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText.image .bg img {
  width: 100%;
  opacity: .35;
  position: relative;
  top: -50px;
}
/* line 72, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText.image p {
  color: white;
  width: 65%;
}
/* line 77, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText.main {
  padding: 125px 0 0 0;
  line-height: 0;
  text-align: center;
}
/* line 81, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText.main .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 450px;
  background: black;
  overflow: hidden;
}
/* line 89, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText.main .bg img {
  width: 115%;
  opacity: .25;
  position: relative;
  top: -50px;
}
/* line 96, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText.main .title {
  line-height: 70px;
  font-size: 45px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.15);
  text-transform: uppercase;
  color: #76c36e;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  padding-bottom: 10px;
  margin: 0 auto;
  width: 65%;
  max-width: 600px;
  display: block;
}
/* line 110, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText.main p {
  font-size: 20px;
  color: white;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  line-height: 32px;
  width: 65%;
  max-width: 1000px;
  margin: 40px auto;
  font-weight: 300;
  letter-spacing: .25px;
  text-align: center;
}
/* line 124, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text {
  max-width: 1000px;
  display: block;
  margin: 30px auto 0;
}
/* line 128, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .left {
  width: 25%;
  display: inline-block;
  text-align: left;
}
/* line 132, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .left ul {
  margin: 0;
  padding: 0 10px;
  list-style: none;
}
/* line 136, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .left ul li {
  padding: 10px 0 15px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 141, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .left ul li #secondary .site-description {
  display: none;
}
/* line 144, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .left ul li #secondary #primary-sidebar {
  display: inline-block;
  margin-top: 50px;
}
/* line 149, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .left ul li .title {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.45);
}
/* line 153, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .left ul li a {
  font-size: 14px;
  color: #76c36e;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
/* line 159, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .left ul li a:hover {
  text-decoration: none;
}
/* line 162, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .left ul li a:before {
  text-transform: lowercase;
  font-size: 45px !important;
  line-height: 10px;
  top: 7px;
  position: relative;
}
/* line 170, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .left ul li .side_button {
  display: block;
  border: 1px solid #76c36e;
  color: white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#76c36e+1,479e3a+100 */
  background: #76c36e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #76c36e 1%, #479e3a 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #76c36e 1%, #479e3a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #76c36e 1%, #479e3a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76c36e', endColorstr='#479e3a',GradientType=0 );
  /* IE6-9 */
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  border: 2px solid #589651;
  -webkit-transition: .25s;
  -o-transition: .25s;
  -ms-transition: .25s;
  -moz-transition: .25s;
}
/* line 190, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .left ul li .side_button:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#479e3a+0,76c36e+99 */
  background: #479e3a;
  /* Old browsers */
  background: -moz-linear-gradient(top, #479e3a 0%, #76c36e 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #479e3a 0%, #76c36e 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #479e3a 0%, #76c36e 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#479e3a', endColorstr='#76c36e',GradientType=0 );
  /* IE6-9 */
  text-decoration: none;
}
/* line 200, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .left ul li .widget {
  margin-top: -50px;
  margin-bottom: 10px;
}
/* line 203, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .left ul li .widget .widget-title {
  display: none;
}
/* line 207, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .left ul li .widget ul li {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 211, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .left ul li .widget ul li a {
  color: #76c36e;
  font-weight: bold;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: none;
}
/* line 218, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .left ul li .widget ul li .post-date {
  font-size: 12px;
  display: block;
  font-weight: 900;
  letter-spacing: -.5px;
  color: rgba(0, 0, 0, 0.35);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
/* line 232, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .right {
  width: 72%;
  padding-left: 40px;
  display: inline-block;
  float: right;
  margin-bottom: 60px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 240, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .title {
  font-size: 22px;
  text-transform: uppercase;
  color: #76c36e;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  padding-bottom: 10px;
  margin: 0 auto;
  width: 100%;
  display: block;
}
/* line 251, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text article {
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  margin-bottom: 25px;
}
/* line 254, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text article:last-of-type {
  border-bottom: none;
}
/* line 258, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text article .entry-header .entry-title {
  line-height: 25px;
  color: #76c36e;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 900;
}
/* line 264, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text article .entry-header .entry-title a {
  color: #76c36e;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: inherit;
  font-weight: 900;
}
/* line 274, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text article .entry-content .writer {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  padding: 0 0 10px 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 286, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text article .entry-content p img {
  width: 100%;
}
/* line 290, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text article .entry-content a {
  color: #76c36e;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  opacity: .65;
}
/* line 295, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text article .entry-content a:hover {
  opacity: 1;
}
/* line 303, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .post-navigation .nav-links a {
  color: #76c36e;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-size: 11px;
}
/* line 308, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .post-navigation .nav-links a span {
  margin-right: 7px;
  color: rgba(0, 0, 0, 0.35);
}
/* line 315, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text #comments {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 20px;
  padding-top: 20px;
}
/* line 320, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text #comments #respond #reply-title {
  margin-top: 0;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.75);
  font-size: 16px;
}
/* line 329, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text #comments #respond .comment-form .logged-in-as {
  margin-right: 25px;
  margin-bottom: 15px;
}
/* line 332, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text #comments #respond .comment-form .logged-in-as a {
  color: #76c36e;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}
/* line 337, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text #comments #respond .comment-form .logged-in-as a:last-of-type {
  margin-left: 10px;
}
/* line 343, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text #comments #respond .comment-form .comment-form-comment label {
  display: block;
}
/* line 346, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text #comments #respond .comment-form .comment-form-comment textarea {
  width: 100%;
  height: 100px;
}
/* line 352, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text #comments #respond .comment-form .form-submit input {
  background: transparent;
  color: #76c36e;
  font-weight: bold;
  font-size: 14px;
  border: 2px solid #76c36e;
  padding: 10px 20px;
  float: right;
}
/* line 360, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text #comments #respond .comment-form .form-submit input:hover {
  background: #76c36e;
  color: white;
}
/* line 369, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .about_image {
  display: inline-block;
  width: 49%;
  height: 350px;
  overflow: hidden;
}
/* line 374, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .about_image:nth-of-type(2) {
  float: right;
}
/* line 377, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text .about_image img {
  width: auto;
  position: relative;
  height: 100%;
  left: -10%;
}
/* line 384, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text hr {
  margin-bottom: 40px;
}
/* line 387, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 26px;
  width: 100%;
  margin: 0 auto 40px;
  display: block;
  text-align: justify;
}
/* line 396, sass/secondary.scss */
#second-content #secondary #content .text-section .fullText .text p.large {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
}
/* line 407, sass/secondary.scss */
#second-content #secondary #content .media .fullText.main {
  padding-bottom: 0;
}
/* line 409, sass/secondary.scss */
#second-content #secondary #content .media .fullText.main .bg {
  height: 300px;
}
/* line 412, sass/secondary.scss */
#second-content #secondary #content .media .fullText.main .title {
  border-bottom: none;
}
/* line 417, sass/secondary.scss */
#second-content #secondary #content .media .fullText .text .video {
  width: 100%;
  display: inline-block;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: black;
}
/* line 424, sass/secondary.scss */
#second-content #secondary #content .media .fullText .text .video:last-of-type {
  border-bottom: none;
}
/* line 427, sass/secondary.scss */
#second-content #secondary #content .media .fullText .text .video iframe {
  width: 100%;
  height: 400px;
}
/* line 437, sass/secondary.scss */
#second-content #secondary #content .news .fullText.main {
  padding: 60px 0;
}
/* line 439, sass/secondary.scss */
#second-content #secondary #content .news .fullText.main p {
  font-size: 24px;
  width: 55%;
}
/* line 446, sass/secondary.scss */
#second-content #secondary #content .news .fullText .text .right .entry-header {
  display: inline-block;
}
/* line 450, sass/secondary.scss */
#second-content #secondary #content .news .fullText .text .video {
  width: 100%;
  display: inline-block;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 456, sass/secondary.scss */
#second-content #secondary #content .news .fullText .text .video:last-of-type {
  border-bottom: none;
}
/* line 459, sass/secondary.scss */
#second-content #secondary #content .news .fullText .text .video iframe {
  width: 100%;
  height: 400px;
}
/* line 469, sass/secondary.scss */
#second-content #secondary #content .testimonials .fullText.main {
  padding: 50px 0;
}
/* line 471, sass/secondary.scss */
#second-content #secondary #content .testimonials .fullText.main .bg {
  height: 450px;
}
/* line 474, sass/secondary.scss */
#second-content #secondary #content .testimonials .fullText.main .firstTest {
  font-size: 15px;
  color: white;
  display: inline-block;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 26px;
  width: 55%;
  max-width: 1000px;
  margin: 30px auto;
  font-weight: 700;
  text-align: center;
}
/* line 486, sass/secondary.scss */
#second-content #secondary #content .testimonials .fullText.main .person {
  font-size: 16px;
  color: white;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  line-height: 32px;
  width: 55%;
  max-width: 1000px;
  text-align: right;
  font-weight: 700;
}
/* line 499, sass/secondary.scss */
#second-content #secondary #content .testimonials .fullText .text .quote-block {
  font-size: 185px;
  display: block;
  text-align: center;
  font-family: serif;
  line-height: 100px;
  color: #76c36e;
  margin: 30px 0 0 0;
}
/* line 511, sass/secondary.scss */
#second-content #secondary #content .testimonials .fullText .text .testi {
  margin-bottom: 80px;
  border: 1px solid rgba(118, 195, 110, 0.35);
  padding: 15px;
}
/* line 515, sass/secondary.scss */
#second-content #secondary #content .testimonials .fullText .text .testi p {
  margin-bottom: 10px;
}
/* line 517, sass/secondary.scss */
#second-content #secondary #content .testimonials .fullText .text .testi p.bold {
  font-weight: bold;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.65);
}
/* line 523, sass/secondary.scss */
#second-content #secondary #content .testimonials .fullText .text .testi hr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}
/* line 527, sass/secondary.scss */
#second-content #secondary #content .testimonials .fullText .text .testi .sign {
  display: block;
  background: #76c36e;
  padding: 15px 20px;
  text-align: right;
  color: white;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  margin: 40px -15px -25px -15px;
}
/* line 537, sass/secondary.scss */
#second-content #secondary #content .testimonials .fullText .text .testi .sign .job {
  font-size: 12px;
}
/* line 540, sass/secondary.scss */
#second-content #secondary #content .testimonials .fullText .text .testi .sign:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 15px;
  top: -15px;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #76c36e;
}
/* line 556, sass/secondary.scss */
#second-content #secondary #content .cont p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-size: 23px !important;
  font-weight: bold;
}
/* line 560, sass/secondary.scss */
#second-content #secondary #content .cont p a {
  color: #76c36e;
  display: block;
  margin-top: 15px;
}
/* line 568, sass/secondary.scss */
#second-content #secondary #content .contact h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #76c36e;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  padding-bottom: 10px;
  display: block;
  margin-top: 0;
}
/* line 578, sass/secondary.scss */
#second-content #secondary #content .contact ul {
  list-style: none;
  margin: 0 0 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 586, sass/secondary.scss */
#second-content #secondary #content .contact ul li {
  font-weight: bold;
  padding: 5px 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  text-align: center;
}
/* line 592, sass/secondary.scss */
#second-content #secondary #content .contact ul li a {
  color: #76c36e;
}
/* line 595, sass/secondary.scss */
#second-content #secondary #content .contact ul li:first-of-type {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.65);
}
/* line 602, sass/secondary.scss */
#second-content #secondary #content .contact form label {
  display: block;
  font-size: 12px;
}
/* line 606, sass/secondary.scss */
#second-content #secondary #content .contact form input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 610, sass/secondary.scss */
#second-content #secondary #content .contact form input[type="submit"] {
  background: transparent;
  border: 1px solid #76c36e;
  color: #76c36e;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0;
}
/* line 617, sass/secondary.scss */
#second-content #secondary #content .contact form input[type="submit"]:hover {
  background: #76c36e;
  color: white;
}
/* line 622, sass/secondary.scss */
#second-content #secondary #content .contact form textarea {
  width: 100%;
  height: 75px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

/* line 1, sass/footer.scss */
footer {
  background: rgba(0, 0, 0, 0.85);
  padding: 40px;
  display: inline-block;
  width: 100%;
}
/* line 6, sass/footer.scss */
footer .inner {
  width: 90%;
  margin: 0 auto;
}
/* line 9, sass/footer.scss */
footer .inner .title {
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid white;
  margin: 20px 0 10px 0;
}
/* line 20, sass/footer.scss */
footer .inner .social {
  list-style: none;
  margin: 10px 0 0 -15px;
  padding: 0;
}
/* line 26, sass/footer.scss */
footer .inner .social:hover li a {
  opacity: .5s;
}
/* line 31, sass/footer.scss */
footer .inner .social li {
  width: 20%;
  max-width: 75px;
  margin-right: 5px;
  display: inline-block;
  opacity: 1;
  -webkit-transition: .35s;
  -ms-transition: .35s;
  -o-transition: .35s;
  -moz-transition: .35s;
}
/* line 41, sass/footer.scss */
footer .inner .social li a {
  display: inline-block;
  width: 100%;
}
/* line 44, sass/footer.scss */
footer .inner .social li a:hover {
  opacity: 1;
}
/* line 47, sass/footer.scss */
footer .inner .social li a svg {
  width: 100%;
}
/* line 49, sass/footer.scss */
footer .inner .social li a svg path {
  -webkit-transition: .35s;
  -ms-transition: .35s;
  -o-transition: .35s;
  -moz-transition: .35s;
}
/* line 56, sass/footer.scss */
footer .inner .social li a svg:hover path {
  fill: #76c36e;
}
/* line 64, sass/footer.scss */
footer .inner p {
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 26px;
}
/* line 71, sass/footer.scss */
footer .inner .footer_button {
  color: #76c36e;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 25px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  display: inline-block;
}
/* line 80, sass/footer.scss */
footer .inner .name {
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  font-size: 15px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  display: inline-block;
  margin: 10px 0;
}
/* line 89, sass/footer.scss */
footer .inner .address {
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
}
/* line 95, sass/footer.scss */
footer .inner .phone {
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 1400px) {
  /* line 3, sass/media.scss */
  #main-content .testimonials {
    width: 75%;
  }
  /* line 5, sass/media.scss */
  #main-content .testimonials .motivational {
    margin-top: 50px;
  }
  /* line 12, sass/media.scss */
  #main-content .master-slider-parent .master-slider .ms-container .ms-view {
    height: 400px !important;
  }
  /* line 15, sass/media.scss */
  #main-content .master-slider-parent .master-slider .ms-container .ms-inner-controls-cont {
    width: 75%;
  }
  /* line 19, sass/media.scss */
  #main-content .master-slider-parent .master-slider .ms-slide-info {
    width: 75%;
  }
  /* line 22, sass/media.scss */
  #main-content .master-slider-parent .master-slider .ms-slide-info .ms-info .test {
    width: 80%;
    top: 150px;
    font-size: 30px;
  }
  /* line 31, sass/media.scss */
  #main-content .button {
    bottom: -125%;
    right: 10%;
    font-size: 14px;
  }
}
@media screen and (max-width: 1325px) {
  /* line 45, sass/media.scss */
  #second-content #secondary #content .text-section .fullText.main .bg img {
    width: 150%;
    left: -25%;
  }
}
@media screen and (max-width: 1250px) {
  /* line 58, sass/media.scss */
  #main-content .text-section {
    width: 90%;
  }
  /* line 61, sass/media.scss */
  #main-content .text-section .image img {
    width: 125%;
    left: -12.5%;
  }
  /* line 68, sass/media.scss */
  #main-content .full-section .text {
    width: 90%;
    text-align: center;
  }
}
@media screen and (max-width: 1200px) {
  /* line 78, sass/media.scss */
  .site-header .header-main #primary-navigation {
    width: 70%;
  }
  /* line 82, sass/media.scss */
  .site-header .header-main #primary-navigation .menu-main-container ul li {
    padding: 0 15px;
  }

  /* line 94, sass/media.scss */
  #main-content .main-image img {
    width: 100%;
    left: -15%;
  }
  /* line 99, sass/media.scss */
  #main-content .testimonials {
    width: 100%;
  }
  /* line 105, sass/media.scss */
  #main-content .master-slider-parent .master-slider .ms-container .ms-view {
    height: 400px !important;
  }
  /* line 108, sass/media.scss */
  #main-content .master-slider-parent .master-slider .ms-container .ms-inner-controls-cont {
    width: 100%;
  }
  /* line 112, sass/media.scss */
  #main-content .master-slider-parent .master-slider .ms-slide-info {
    width: 100%;
  }

  /* line 122, sass/media.scss */
  #second-content #secondary #content .testimonials .fullText.main {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 1080px) {
  /* line 136, sass/media.scss */
  .site-header .header-main #primary-navigation .menu-main-container ul li {
    padding: 0 10px;
  }
  /* line 138, sass/media.scss */
  .site-header .header-main #primary-navigation .menu-main-container ul li a {
    font-size: 15px;
  }

  /* line 150, sass/media.scss */
  #main-content .text-section .image img {
    width: auto;
    left: 0;
    height: 100%;
  }
  /* line 156, sass/media.scss */
  #main-content .text-section .title {
    font-size: 17px;
  }

  /* line 166, sass/media.scss */
  #second-content #secondary #content .text-section .fullText .text {
    width: 85%;
  }
}
@media screen and (max-width: 980px) {
  /* line 176, sass/media.scss */
  .site-header {
    overflow: hidden;
    border-bottom: none;
  }
  /* line 179, sass/media.scss */
  .site-header .header-main {
    position: relative;
  }
  /* line 180, sass/media.scss */
  .site-header .header-main .toggle {
    display: inline-block;
  }
  /* line 184, sass/media.scss */
  .site-header .header-main #primary-navigation {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
  }
  /* line 191, sass/media.scss */
  .site-header .header-main #primary-navigation .menu-main-container ul {
    height: auto;
    margin-right: 0;
  }
  /* line 194, sass/media.scss */
  .site-header .header-main #primary-navigation .menu-main-container ul li {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  /* line 197, sass/media.scss */
  .site-header .header-main #primary-navigation .menu-main-container ul li a {
    width: 100%;
    text-align: center;
    display: inline-block;
    line-height: 20px;
    padding: 25px 0;
    font-size: 18px;
  }

  /* line 213, sass/media.scss */
  #main-content .main-image img {
    width: 125%;
    left: -25%;
  }
  /* line 219, sass/media.scss */
  #main-content .text-section .football {
    width: 80%;
  }
  /* line 222, sass/media.scss */
  #main-content .text-section .lac {
    width: 75%;
    top: 85%;
    left: 21%;
  }

  /* line 236, sass/media.scss */
  #second-content #secondary #content .news .text-section .fullText.main .bg img {
    width: 100%;
    height: auto;
  }
  /* line 241, sass/media.scss */
  #second-content #secondary #content .news .text-section .fullText.main p {
    width: 70%;
  }
  /* line 251, sass/media.scss */
  #second-content #secondary #content .media .text-section .fullText.main .bg img {
    width: 125%;
    left: -15%;
    height: auto;
  }
  /* line 263, sass/media.scss */
  #second-content #secondary #content .text-section .fullText.main .bg img {
    position: initial;
    left: 0;
    width: auto;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* line 279, sass/media.scss */
  #main-content .main-image img {
    width: 175%;
    left: -50%;
  }
  /* line 285, sass/media.scss */
  #main-content .testimonials .motivational {
    font-size: 17px;
    margin-top: 30px;
  }
  /* line 290, sass/media.scss */
  #main-content .button {
    bottom: -290px;
  }
  /* line 295, sass/media.scss */
  #main-content .master-slider-parent .master-slider .ms-bullets {
    opacity: 0;
  }
  /* line 300, sass/media.scss */
  #main-content .master-slider-parent .master-slider .ms-slide-info .ms-info .test {
    top: 110px;
    font-size: 28px;
  }

  /* line 311, sass/media.scss */
  #main-content .text-section .col-xs-12 {
    margin-bottom: 25px;
  }
  /* line 314, sass/media.scss */
  #main-content .text-section .image {
    height: 300px;
  }
  /* line 316, sass/media.scss */
  #main-content .text-section .image img {
    width: 100%;
    height: auto;
  }
  /* line 321, sass/media.scss */
  #main-content .text-section .title {
    font-size: 26px;
  }
  /* line 324, sass/media.scss */
  #main-content .text-section .football {
    width: 50%;
    top: 0;
    left: -15px;
  }
  /* line 329, sass/media.scss */
  #main-content .text-section .lac {
    width: 48%;
    top: 0;
    left: inherit;
    right: 0;
  }
  /* line 335, sass/media.scss */
  #main-content .text-section .video {
    height: auto;
  }
  /* line 337, sass/media.scss */
  #main-content .text-section .video .vids {
    overflow: visible;
    background: black;
  }
  /* line 340, sass/media.scss */
  #main-content .text-section .video .vids iframe {
    height: auto;
    min-height: 400px;
  }
  /* line 345, sass/media.scss */
  #main-content .text-section .video .circle {
    display: none;
  }
  /* line 351, sass/media.scss */
  #main-content .button-section .video_button {
    width: 80%;
    margin: 0 auto 50px;
    padding: 30px 0;
  }

  /* line 362, sass/media.scss */
  #second-content #secondary #content .text-section .fullText {
    padding-top: 0;
  }
  /* line 365, sass/media.scss */
  #second-content #secondary #content .text-section .fullText .text .right {
    width: 100%;
    padding: 0;
    border: none;
  }
  /* line 370, sass/media.scss */
  #second-content #secondary #content .text-section .fullText .text .left {
    width: 100%;
  }
}
@media screen and (max-width: 625px) {
  /* line 384, sass/media.scss */
  #main-content .text-section .image img {
    width: 150%;
    left: -25%;
  }
  /* line 389, sass/media.scss */
  #main-content .text-section .football {
    width: 52.25%;
  }

  /* line 395, sass/media.scss */
  footer .col-md-3 {
    margin-bottom: 20px;
  }
  /* line 397, sass/media.scss */
  footer .col-md-3 .inner {
    width: 100%;
  }

  /* line 406, sass/media.scss */
  .media .text-section .fullText.main .bg img {
    width: auto !important;
    left: 0 !important;
    height: 100% !important;
  }
  /* line 416, sass/media.scss */
  .media .text-section .fullText .text .about_image img {
    top: 0;
  }
}
@media screen and (max-width: 530px) {
  /* line 428, sass/media.scss */
  #main-content .main-image img {
    width: 250%;
    left: -75%;
  }
  /* line 433, sass/media.scss */
  #main-content .button {
    right: 20%;
    left: 20%;
    text-align: center;
  }
  /* line 441, sass/media.scss */
  #main-content .text-section .video .vids iframe {
    min-height: 250px;
  }
  /* line 449, sass/media.scss */
  #main-content .full-section .text .title {
    line-height: 50px;
  }
  /* line 452, sass/media.scss */
  #main-content .full-section .text .subTitle {
    margin-top: 15px;
    font-size: 20px;
  }

  /* line 463, sass/media.scss */
  #second-content #secondary #content .text-section .fullText.main {
    padding: 50px 0;
  }
  /* line 465, sass/media.scss */
  #second-content #secondary #content .text-section .fullText.main .title {
    width: 100%;
  }
  /* line 469, sass/media.scss */
  #second-content #secondary #content .text-section .fullText.main p:last-of-type {
    display: none;
  }
  /* line 477, sass/media.scss */
  #second-content #secondary #content .news .fullText.main p {
    display: inline-block !important;
    font-size: 18px;
    width: 90% !important;
  }
  /* line 487, sass/media.scss */
  #second-content #secondary #content .media .text-section .fullText.main .bg {
    height: 180px;
  }
}
/* line 45, sass/style.scss */
.no-pad {
  padding: 0;
}

/* line 46, sass/style.scss */
.post-edit-link {
  position: absolute;
}

/* line 47, sass/style.scss */
.hide {
  display: none;
}

/* line 50, sass/style.scss */
html {
  height: 100%;
  display: inline-block;
  width: 100%;
  overflow-x: hidden;
}

/* line 56, sass/style.scss */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: inline-block;
  width: 100%;
  overflow-x: hidden;
}
/* line 63, sass/style.scss */
body .screen-reader-text {
  display: none;
}

@-moz-document url-prefix() {
  /* line 68, sass/style.scss */
  body {
    overflow: initial !important;
  }

  /* line 69, sass/style.scss */
  #main-content .site-content .content .text p {
    font-weight: 300;
  }
}
@media screen and (min-width: 0\0) {
  /* line 73, sass/style.scss */
  body {
    overflow-x: visible !important;
  }
}
