footer{
 background: rgba(0,0,0,.85);
 padding: 40px;
 display: inline-block;
 width: 100%;
	.inner{
	width: 90%; 
	margin: 0 auto;  
	  .title{
		 	font-size: 22px;
			text-transform: uppercase;
			color: white;
			font-weight: 900;
			font-family: $raleway;
			display: inline-block;
			width: 100%;
			border-bottom: 1px solid white;
			margin: 20px 0 10px 0;
	  }
	  .social{
	  	list-style: none;
	  	margin: 10px 0 0 -15px;
	  	padding: 0;
	  	&:hover{
	  		li{
	  			a{
	  				opacity: .5s;
	  			}
	  		}
	  	}
	  	li{
	  		width: 20%;
	  		max-width: 75px;
	  		margin-right: 5px;
	  		display: inline-block;
	  		opacity: 1;
				-webkit-transition: .35s;
				-ms-transition: .35s;
				-o-transition: .35s;
				-moz-transition: .35s;	  		
	  		a{
	  			display: inline-block;
	  			width: 100%;
	  			&:hover{
	  				opacity: 1;
	  			}
	  			svg{
		  			width: 100%;
		  			path{
							-webkit-transition: .35s;
							-ms-transition: .35s;
							-o-transition: .35s;
							-moz-transition: .35s;
		  			}
		  			&:hover{
		  				path{
		  					fill: $green;
		  				}
		  			}
		  		}
		  	}
		  }
	  }
	  p{
	  	color: white;
  		font-family: $helvetica;
  		font-size: 14px;
  		letter-spacing: 1px;
  		line-height: 26px;	  	
	  }
	  .footer_button{
			color: $green;
			font-weight: 900;
			font-size: 14px;
			text-transform: uppercase;
			margin-top: 25px;
			font-family: $helvetica;
			display: inline-block;
	  }
	  .name{
			text-transform: uppercase;
			color: white;
			font-weight: 900;
			font-size: 15px;
			font-family: $helvetica;
			display: inline-block;
			margin: 10px 0;
	  }
	  .address{
	  	color: white;
			font-family: $helvetica;
			font-size: 14px;
			margin-bottom: 15px;
	  }
	  .phone{
	  	color: white;
			font-family: $helvetica;
			font-size: 14px;
			font-weight: bold;
	  }
	}
}