#main-content{
	position: relative;
	z-index: 10;
	.entry-header{
		display: none;
	}
	.main-image{
		display: inline-block;
		width: 100%;
		background: black;
    height: 80vh;
    min-height: 500px;
    overflow: hidden;
		img{
			width: 100%;
			opacity: .65;
			display: inline-block;
			position: relative;
			top: -100px;
		}
	}
	
	.testimonials{
		position: absolute;
		top: 0px;
		left: 0;
		width: 50%;
		.motivational{
			text-align: center;
			font-family: $raleway;
			color: white;
			font-weight: 900;
			font-size: 20px;
			margin-top: 100px;
		}
		hr{
			width: 75%;
			display: block;
			margin: 20px auto;
		}
	}
	.button{
		position: absolute;
    bottom: -200%;
    right: 15%;
    background: $green;
    padding: 10px 30px;
		font-family: $helvetica;
		color: white;
		font-weight: 900;
		font-size: 16px;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);		
		-webkit-transition: .2s;
		-ms-transition: .2s;
		-o-transition: .2s;
		-moz-transition: .2s;
		opacity: .85;
		&:hover{
			opacity: 1;
			text-decoration: none;
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-o-transform: scale(1.1);
			-ms-transform: scale(1.1);
		}
	}
  .master-slider-parent{
  	position: absolute !important;
  	top: 0;
    .master-slider{
    	position: relative;
	  	.ms-container{
	  		display: inline-block;
	  		z-index: 1000;
	  		width: 100%;
	  		position: absolute;
	  		.ms-inner-controls-cont{
	  			display: inline-block;
	  			width: 50%;
	  			float: left;
			  	.ms-bullets{
			  		display: inline-block !important;
			  		width: 100% !important;
			  		right: 0;
			  		text-align: center;
			  		.ms-bullets-count{
			  			display: inline-block !important;
			  			margin: 0 auto;
			  			width: auto;
			  			right: 0;
				  		.ms-bullet{
				  			width: 10px;
				  			top: -25px;
				  			position: relative;
				  			height: 10px;
				  			background: transparent;
					  		border: 1px solid $green;
					  		&.ms-bullet-selected{
					  			background: $green;
					  		}
					  	}
					  }
			  	}
			  }
		  }
			.ms-slide-info{
				text-align: right;
		    position: absolute !important;
		    top: 20px;
		    width: 60%;
		    left: 0;
		    height: 100%;
		    text-align: center;
				.ms-info{
					position: absolute;
					width: 100%;
					top: 0;
					.test{
						width: 80%;
						margin: 0 auto;
						position: relative;
						top: 200px;
						font-size: 32px;
						color: $green;
						font-weight: 900;
						font-family: $raleway;
						z-index: 1;
						&:before{
					    content: '"';
					    font-family: serif;
					    font-size: 130px;
					    color: white;
					    position: absolute;
					    top: -45px;
					    left: -20px;
					    opacity: .15;
					    z-index: -1;
						}
						&:after{
					    content: '"';
					    font-family: serif;
					    font-size: 130px;
					    color: white;
					    position: absolute;
					    top: -45px;
					    right: -20px;
					    opacity: .15;
					    z-index: -1;
						}						
					}
				}
			}
    }
  }	
  .row{
  	text-align: center;
  }
  .text-section{
  	display: inline-block;
  	margin: 60px auto;
  	width: 100%;
  	max-width: 1250px;
  	text-align: left;
  	.image{
  		width: 100%;
  		height: 200px;
  		overflow: hidden;
  		display: inline-block;
  		img{
  			width: 100%;
  		}
  	}
  	.video{
  		width: 100%;
  		height: 200px;
  		display: inline-block;
  		position: relative;
  		.vids{
	  		overflow: hidden;
	  		width: 100%;
	  		height: inherit;
	  		border-bottom: 5px solid white;
	  		background: white;
  		}
  		.circle{
  			display: inline-block;
  			position: relative;
  			width: 99%;
  			left: 2px;
  			top: -125px;
  			background: $green;
  			height: 250px;
  			border-radius: 50%;
  			z-index: -1;
  		}
  	}
  	.title{
			font-size: 22px;
			text-transform: uppercase;
			color: $green;
			font-weight: 900;
			font-family: $raleway;
			margin: 20px 0 10px 0;
  	}
		.subTitle{
			font-size: 16px;
			text-transform: uppercase;
			color: rgba(0,0,0,.45);
			font-weight: 900;
			font-family: $raleway;
			margin: 10px 0 10px 0;
  	}
  	p{
  		font-family: $helvetica;
  		font-size: 13px;
  		color: rgba(0,0,0,.65);
  		line-height: 26px;
  		&.large{
  			font-size: 16px;
  			margin-top: 30px;
  		}
  	}
  	.football{
  		width: 60%;
  		position: relative;
  		top: 20px;
  		box-shadow: -2px 2px 10px rgba(0,0,0,.35);
  		display: inline-block;
  		img{
  			width: 100%;
  		}
  	}
  	.lac{
  		width: 55%;
  		box-shadow: -2px 2px 10px rgba(0,0,0,.35);
  		display: inline-block;
  		position: absolute;
  		top: 55%;
  		left: 35%;
  		img{
  			width: 100%;
  		}  		
  	}
  	.contact{
  		position: relative;
  		top: 35px;
	    background: $green;
	    padding: 10px 30px;
			font-family: $helvetica;
			color: white;
			font-weight: 900;
			font-size: 14px;
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			-ms-transform: scale(1);		
			-webkit-transition: .2s;
			-ms-transition: .2s;
			-o-transition: .2s;
			-moz-transition: .2s;
			opacity: .85;
			&:hover{
				opacity: 1;
				text-decoration: none;
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-o-transform: scale(1.1);
				-ms-transform: scale(1.1);
			}
  	}
  }
  .button-section{	
  	text-align: center;
  	margin-top: -75px;
  	.video_button{
  		display: inline-block;
  		width: 200px;
  		margin: -100px auto 50px;
  		position: relative;
	    background: $green;
	    padding: 10px 30px;
			font-family: $helvetica;
			color: white;
			font-weight: 900;
			font-size: 14px;
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			-ms-transform: scale(1);		
			-webkit-transition: .2s;
			-ms-transition: .2s;
			-o-transition: .2s;
			-moz-transition: .2s;
			opacity: .85;		
			&:hover{
				opacity: 1;
				text-decoration: none;
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-o-transform: scale(1.1);
				-ms-transform: scale(1.1);
			}
  	}
  }  
  .full-section{
  	display: inline-block;
  	width: 100%;
  	height: 500px;
  	&.book{
  		background: url('http://www.armorsecurityandprotection.com/thereandback/wp-content/uploads/2016/10/12998282_1704913146428724_9180799062286382344_o.jpg') rgba(0,0,0,.75) no-repeat;
  		background-size: cover; 
  		background-attachment: fixed;
  		background-blend-mode: multiply;
  	}
  	.text{
	  	display: inline-block;
	  	margin: 60px auto;
	  	width: 100%;
	  	max-width: 1250px;
	  	text-align: left;
	  	color: white;
	  	.title{
				font-size: 50px;
				text-transform: uppercase;
				color: white;
				font-weight: 900;
				font-family: $raleway;
				margin-top: 40px;
	  	}
	  	.subTitle{
				font-size: 25px;
				text-transform: uppercase;
				color: white;
				font-weight: 900;
				font-family: $raleway;
	  	}
	  	.button{
	  		position: relative;
	  		bottom: 0;
	  		top: 90px;
	  		right: 0;
	  		left: 0;
	  		text-transform: uppercase;
	  		font-size: 20px;
	  	}
  	}
  }
}