@media screen and (max-width: 1400px) {
	#main-content {
		.testimonials {
			width: 75%;
			.motivational{
				margin-top: 50px;
			}
		}
	  .master-slider-parent{
	    .master-slider{
		  	.ms-container{
		  		.ms-view{
		  			height: 400px !important;
		  		}
		  		.ms-inner-controls-cont{
		  			width: 75%;
				  }
			  }
				.ms-slide-info{
			    width: 75%;
					.ms-info{
						.test{
							width: 80%;
							top: 150px;
							font-size: 30px;
						}
					}
				}
	    }
	  }		
	  .button{
	  	bottom: -125%;
	    right: 10%;
	    font-size: 14px;
	  }	
	}
}
@media screen and (max-width: 1325px){
	#second-content {
		#secondary {
			#content {
				.text-section {
					.fullText.main {
						.bg {
							img{
								width: 150%;
								left: -25%;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1250px) {
	#main-content {
		.text-section{
			width: 90%;
			.image {
				img{
					width: 125%;
					left: -12.5%;
				}
			}
		}
		.full-section {
			.text{
				width: 90%;
				text-align: center;
			}
		}
	}
}
@media screen and (max-width: 1200px) {
	.site-header {
		.header-main {
			#primary-navigation {
				width: 70%;
				.menu-main-container {
					ul {
						li {
							padding: 0 15px;
							a {
							}
						}
					}
				}
			}
		}
	}
	#main-content {
		.main-image {
			img{
				width: 100%;
				left: -15%;
			}
		}
		.testimonials{
			width: 100%;
		}
		.master-slider-parent {
			.master-slider {
		  	.ms-container{
		  		.ms-view{
		  			height: 400px !important;
		  		}
		  		.ms-inner-controls-cont{
		  			width: 100%;
				  }
			  }
				.ms-slide-info{
					width: 100%;
				}
			}
		}
	}
	#second-content {
		#secondary {
			#content {
				.testimonials {
					.fullText.main{
						padding-bottom: 0;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1080px){
	.site-header {
		.header-main {
			#primary-navigation {
				.menu-main-container {
					ul {
						li {
					    padding: 0 10px;
							a{
								font-size: 15px;
							}
						}
					}
				}
			}
		}
	}
	#main-content {
		.text-section{
			.image {
				img{
					width: auto;
					left: 0;
					height: 100%;
				}
			}
			.title{
				font-size: 17px;
			}
		}
	}	
	#second-content {
		#secondary {
			#content {
				.text-section {
					.fullText {
						.text	{
							width: 85%;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 980px){
	.site-header {
		overflow: hidden;
		border-bottom: none;
		.header-main {
			.toggle{
				display: inline-block;
			}
			position: relative;
			#primary-navigation{
				position: absolute;
				left: 0;
				right: 0;
				top: 100%;
				width: 100%;
				.menu-main-container {
					ul{
						height: auto;
						margin-right: 0;
						li{
							width: 100%;
							border-bottom: 1px solid rgba(0,0,0,.1);
							a{
								width: 100%;
								text-align: center;
								display: inline-block;
								line-height: 20px;
								padding: 25px 0;
								font-size: 18px;
							}
						}
					}
				}
			}
		}
	}
	#main-content {
		.main-image {
			img{
				width: 125%;
				left: -25%;
			}
		}
		.text-section {
			.football{
				width: 80%;
			}
			.lac{
				width: 75%;
				top: 85%;
				left: 21%;
			}
		}
	}	
	#second-content {
		#secondary {
			#content {
				.news{
					.text-section {
						.fullText.main {
							.bg {
								img{
									width: 100%;
									height: auto;
								}
							}
							p{
								width: 70%;
							}
						}
					}
				}
				.media{
					.text-section {
						.fullText.main {
							.bg {
								img{
									width: 125%;
									left: -15%;
									height: auto;
								}
							}
						}
					}
				}				
				.text-section {
					.fullText.main {
						.bg {
							img{
								position: initial;
								left: 0;
								width: auto;
								height: 100%;
							}
						}
					}
				}
			}
		}
	}	
}
@media screen and (max-width: 768px){
	#main-content {
		.main-image {
			img{
				width: 175%;
				left: -50%;
			}
		}
		.testimonials {
			.motivational{
				font-size: 17px;
				margin-top: 30px;				
			}
		}
		.button{
			bottom: -290px;
		}
 		.master-slider-parent {
 			.master-slider {
				.ms-bullets{
					opacity: 0;
				}
 				.ms-slide-info {
 					.ms-info {
 						.test{
 							top: 110px;
 							font-size: 28px;
 						}
 					}	
				}
			}
		}	
	}	
	#main-content {
		.text-section{
			.col-xs-12{
				margin-bottom: 25px;
			}
			.image {
				height: 300px;
				img{
					width: 100%;
					height: auto;
				}
			}
			.title{
				font-size: 26px;
			}
			.football{
		    width: 50%;
		    top: 0;
		    left: -15px;
			}
		  .lac{  
		    width: 48%;
		    top: 0;
		    left: inherit;
		    right: 0;
	    }
	    .video {
	    	height: auto;
	    	.vids{
	    		overflow: visible;
	    		background: black;
	    		iframe{
  			    height: auto;
				    min-height: 400px;
	    		}
	    	}
	    	.circle{
	    		display: none;
	    	}	
    	}		
		}
    .button-section {
   	  .video_button		{
   	  	width: 80%;
   	  	margin: 0 auto 50px;
   	  	padding: 30px 0;
   	  }
    }
	}	
	#second-content {
		#secondary {
			#content {
				.text-section {
					.fullText {
						padding-top: 0;
						.text	{
							.right{
								width: 100%;
								padding: 0;
								border: none;
							}
							.left{
								width: 100%;
							}
						}
					}
				}
			}
		}
	}	
}
@media screen and (max-width: 625px){
	#main-content {
		.text-section{
			.image {
				img{
					width: 150%;
					left: -25%;
				}
			}
			.football{
				width: 52.25%;
			}
		}
	}	
	footer{
		.col-md-3{
			margin-bottom: 20px;
			.inner{
				width: 100%;
			}
		}
	}
	.media{
		.text-section {
			.fullText.main {
				.bg {
					img{
						width: auto !important;
						left: 0 !important;
						height: 100% !important;
					}
				}
			}
			.fullText{
				.text{
					.about_image{
						img{
							top: 0;
						}
					}
				}
			}
		}
	}	
}
@media screen and (max-width: 530px){
	#main-content {
		.main-image {
			img{
				width: 250%;
				left: -75%;
			}
		}
		.button{
	    right: 20%;
	    left: 20%;
	    text-align: center;
		}
		.text-section{
			.video{
				.vids{
					iframe{
						min-height: 250px;
					}
				}
			}
		}
		.full-section {
			.text{
				.title{
					line-height: 50px;
				}
				.subTitle{
					margin-top: 15px;
					font-size: 20px;
				}				
			}
		}
	}	
	#second-content {
		#secondary {
			#content {
				.text-section {
					.fullText.main {
						padding: 50px 0;
						.title{
							width: 100%;
						}
						p{
							&:last-of-type{
								display: none;
							}
						}
					}
				}
				.news{
					.fullText.main {
						p{
							display: inline-block !important;
							font-size: 18px;
					    width: 90% !important; 								
						}
					}
				}
				.media{
					.text-section {
						.fullText.main {
							.bg {
								height: 180px;
							}
						}
					}
				}					
			}
		}
	}		
}