.site-header{
	display: inline-block;
	width: 100%;
	height: 110px;
	border-bottom: 1px solid rgba(0,0,0,.1); 
	-webkit-transition: .2s;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	&.open{
		height: 100vh;
		.header-main{
			height: 110px;
		}
	}
	.header-main{
		display: inline-block;
		width: inherit;
		height: inherit;
		.logo{
	    display: inline-block;
	    width: 250px;
	    margin: 10px 0 0 15px;
			img{
				width: 100%;
				height: auto;
			}
		}
		#primary-navigation{
			display: inline-block;
			width: 60%;
			float: right;
			height: inherit;
			.menu-main-container{
				height: inherit;
				ul{
					height: inherit;
					list-style: none;
					margin: 0 20px 0 0;
					padding: 0;
					text-align: right;
					&:hover{
						li{
							opacity: .5;
						}
					}
					li{
						height: inherit;
						padding: 0 20px;
						display: inline-block;
						position: relative;
						-webkit-transition: .25s;
						-o-transition: .25s;
						-ms-transition: .25s;
						-moz-transition: .25s;
						&:hover{
							.sub-menu{
								opacity: 1;
							}
						}
						.sub-menu{
					    top: 100%;
					    height: auto;
					    position: absolute;
					    width: 100%;
					    border: 1px solid rgba(0,0,0,.15);
					    background: white;
					    text-align: center;
					    z-index: 100;
					    left: 0%;
					    top: 85%;
					    display: inline-block;
					    opacity: 0;
					    li{
					    	position: relative;
					    	padding: 0;
					    	display: inline-block;
					    	width: 100%;
					    	&.current_page_item{
					    		a{
					    			background: $green;
					    			color: white;
					    		}
					    	}
					    	a{
					    		line-height: 17px;
					    		font-size: 12px;
					    		display: inline-block;
					    		width: 100%;
					    		&:after{
					    			display: none;
					    		}
					    	}
					    }
						}
						&:hover{
							opacity: 1;
						}
						a{
							line-height: 100px;
							font-family: $raleway;
							color: rgba(0,0,0,.65);
							text-transform: uppercase;
							font-size: 16px;
							padding: 5px 0;
							background: white;
							-webkit-transition: .15s;
							-o-transition: .15s;
							-ms-transition: .15s;
							-moz-transition: .15s;
							position: relative;
							&:hover{
								opacity: 1;
								color: $green;
								text-decoration: none;
							}
						}
						&.current_page_item{
							a{
								color: $green;
								opacity: 1;
								&:after{
									content:'';
									width: 100%;
									position: absolute;
									height: 50px;
									background: $green;
									display: inline-block;
									top: 0;
									left: 0;
									border-radius: 50%; 
									z-index: -1;
								}
							}
						}
						&.current-page-ancestor{
							a{
							}
							.sub-menu{
								.current-menu-item{
									a{
									}
								}
							}
						}
						.sub-menu{
							li{
								a{
									&:hover{
									}
								}
								&.current_page_item{
									a{
									}
								}
							}
						}						
					}
					&:hover{
						.sub-menu{
						}
					}
				}
			}
		}
	}
	.search-tog{
		display: none !important;
	  .screen-reader-text{
	  	color: transparent;
	  	width: 100%;
	  	height: 100%;
	  	display: inline-block;
	  	cursor: pointer;
	  	&:after{
	  		content: "\e003";
		    display: inline-block;
		    font-family: 'Glyphicons Halflings';
		    color: white;
		    position: absolute;
		    left: 30%;
		    top: 20%;
		    font-size: 25px;
	  	}
	  }
	}
}
#search-container{
display: none;
	&.open{
	}
	.search-box{
		form{
			label{
				.screen-reader-text{
					display: none;
				}
				input{
				}
			}
			input[type="submit"]{
			}
		}
	}
}
#mobile-navigation{
	&.open{
	}
	.mobile-close{
	}
  ul{
    li{
	    a{
	      &:hover{
	      }
	    }
	    .sub-menu{
		    li{
		    	a{
		    	}
		    }
	    }
	  }
	}
}
.toggle{
    display: none;
    position: absolute;
    top: 35px;
    right: 25px;
    width: 60px;
    height: 32px;
    padding: 0px 10px;
    color: $green;
    cursor: pointer;
    opacity: .75;
    -webkit-transition: .15s;
    -moz-transition: .15s;
    -o-transition: .15s;
    -ms-transition: .15s;
	  &:hover{
	    opacity: 1;
	  }
	  span{
      display: block;
	    border: 2px solid $green;
	    background-color: $green;
	    height: 7px;
	    border-radius: 50px;
	    margin-bottom: 5px;
	  }
	}