#second-content{
	#secondary{
		position: relative;
		z-index: 10;
		.entry-header{
			display: none;
		}
	  #content{
	  	text-align: center;
		  .text-section{
		  	display: inline-block;
		  	margin: 0px auto;
		  	width: 100%;
		  	text-align: left;
		  	position: relative;
		  	.leftImage{
		  		width: 50%;
		  		display: inline-block;
		  		height: 450px;
		  		overflow: hidden;
		  		img{
		  			width: 100%;
		  		}
		  	}
		  	.rightText{
		  		position: absolute;
		  		top: 80px;
		  		right: 0;
		  		width: 50%;
		  		background: white;
		  		padding: 60px 75px;
		  		.title{
						font-size: 35px;
						text-transform: uppercase;
						color: $green;
						font-weight: 900;
						font-family: $raleway;
						padding-bottom: 10px;
						margin: 0px 0 20px 0;
						border-bottom: 1px solid rgba(0,0,0,.1);
		  		}
  		  	p{
			  		font-family: $helvetica;
			  		font-size: 17px;
			  		color: rgba(0,0,0,.5);
			  		line-height: 38px;
			  	}
		  	}
		  	.fullText{
					display: block;
					width: 100%;
					margin: 0 auto;
					padding: 50px 0;
					position: relative;
		  		&.image{
		  			text-align: center;
		  			.bg{
		  				position: absolute;
		  				z-index: -1;
		  				top: 0;
		  				width: 100%;
		  				height: 500px;
		  				background: black;
		  				overflow: hidden;
		  				img{
		  					width: 100%;
		  					opacity: .35;
		  					position: relative;
		  					top: -50px;
		  				}
		  			}
		  			p{
		  				color: white;
		  				width: 65%;
		  			}
		  		}
		  		&.main{
  			    padding: 125px 0 0 0;
  			    line-height: 0;
		  			text-align: center;
		  			.bg{
		  				position: absolute;
		  				z-index: -1;
		  				top: 0;
		  				width: 100%;
		  				height: 450px;
		  				background: black;
		  				overflow: hidden;
		  				img{
		  					width: 115%;
		  					opacity: .25;
		  					position: relative;
		  					top: -50px; 
		  				}
		  			}
		  			.title{
		  				line-height: 70px;
		  				font-size: 45px;
		  				border-bottom: 3px solid rgba(255,255,255,.15);
							text-transform: uppercase;
							color: $green;
							font-weight: 900;
							font-family: $raleway;
							padding-bottom: 10px;
							margin: 0 auto;
							width: 65%;
							max-width: 600px;
							display: block;		  				
		  			}
		  			p{
		  				font-size: 20px;
		  				color: white;
		  				display: inline-block;
							font-family: $raleway;
				  		line-height: 32px;
				  		width: 65%;
				  		max-width: 1000px;
							margin: 40px auto;
							font-weight: 300;
							letter-spacing: .25px;
							text-align: center;
		  			}
		  		}
					.text{
						max-width: 1000px;
						display: block;
						margin: 30px auto 0;
						.left{
							width: 25%;
							display: inline-block;
							text-align: left;
							ul{
								margin: 0;
								padding: 0 10px;
								list-style: none;
								li{
									padding: 10px 0 15px;
									margin-bottom: 5px;
									border-bottom: 1px solid rgba(0,0,0,.15);
									#secondary{
										.site-description{
											display: none;
										}
										#primary-sidebar{
									    display: inline-block;
									    margin-top: 50px;
										}
									}
									.title{
										font-size: 18px;
										color: rgba(0,0,0,.45);
									}
									a{
										font-size: 14px;
										color: $green;
										font-family: $raleway;
										font-weight: 900;
										text-transform: uppercase;
										&:hover{
											text-decoration: none;
										}
										&:before{
											text-transform: lowercase;
											font-size: 45px !important;
											line-height: 10px;
											top: 7px;
											position: relative;
										}
									}
									.side_button{
										display: block;
										border: 1px solid $green;
										color: white;
										/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#76c36e+1,479e3a+100 */
										background: #76c36e; /* Old browsers */
										background: -moz-linear-gradient(top,  #76c36e 1%, #479e3a 100%); /* FF3.6-15 */
										background: -webkit-linear-gradient(top,  #76c36e 1%,#479e3a 100%); /* Chrome10-25,Safari5.1-6 */
										background: linear-gradient(to bottom,  #76c36e 1%,#479e3a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
										filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76c36e', endColorstr='#479e3a',GradientType=0 ); /* IE6-9 */
										text-align: center;
										padding: 15px;
										border-radius: 5px;
										text-transform: uppercase;
										font-size: 16px;
										border: 2px solid #589651;
										-webkit-transition: .25s;
										-o-transition: .25s;
										-ms-transition: .25s;
										-moz-transition: .25s;
										&:hover{
											/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#479e3a+0,76c36e+99 */
											background: #479e3a; /* Old browsers */
											background: -moz-linear-gradient(top,  #479e3a 0%, #76c36e 99%); /* FF3.6-15 */
											background: -webkit-linear-gradient(top,  #479e3a 0%,#76c36e 99%); /* Chrome10-25,Safari5.1-6 */
											background: linear-gradient(to bottom,  #479e3a 0%,#76c36e 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
											filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#479e3a', endColorstr='#76c36e',GradientType=0 ); /* IE6-9 */
											text-decoration: none; 
										}
									}
									.widget{
										margin-top: -50px;
										margin-bottom: 10px;
										.widget-title{
											display: none;
										}
										ul{
											li{
												border-bottom: none;
												margin-bottom: 0;
												padding-bottom: 0;
												a{
													color: $green;
													font-weight: bold;
													font-size: 14px;
													font-family: $helvetica;
													text-transform: none;
												}
												.post-date{
											    font-size: 12px;
											    display: block;
											    font-weight: 900;
											    letter-spacing: -.5px;
											    color: rgba(0, 0, 0, 0.35);
													font-family: $helvetica;
												}
											}
										}
									}
								}
							}
						}
						.right{
							width: 72%;
							padding-left: 40px;
							display: inline-block;
							float: right;
							margin-bottom: 60px;
							border-left: 1px solid rgba(0,0,0,.15);
						}
			  		.title{
							font-size: 22px;
							text-transform: uppercase;
							color: $green;
							font-weight: 900;
							font-family: $raleway;
							padding-bottom: 10px;
							margin: 0 auto;
							width: 100%;
							display: block;
			  		}
			  		article{
			  			border-bottom: 1px solid rgba(0,0,0,.35);
			  			margin-bottom: 25px;
			  			&:last-of-type{
			  				border-bottom: none;
			  			}
			  			.entry-header{
			  				.entry-title{
			  					line-height: 25px;
		  						color: $green;
		  						font-family: $raleway;
		  						font-size: 20px;
		  						font-weight: 900;
			  					a{
			  						color: $green;
			  						font-family: $raleway;
			  						font-size: 20px;
			  						line-height: inherit;
			  						font-weight: 900;
			  					}
			  				}
			  			}
			  			.entry-content{
			  				.writer{
			  					font-family: $raleway;
			  					font-weight: bold;
			  					color: rgba(0,0,0,.2);
			  					font-size: 12px;
			  					text-transform: uppercase;
			  					display: block;
			  					padding: 0 0 10px 10px;
			  					margin-bottom: 20px;
			  					border-bottom: 1px solid rgba(0,0,0,.1);
			  				}
			  				p{
			  					img{
			  						width: 100%;
			  					}
			  				}
			  				a{
			  					color: $green;
			  					font-weight: bold;
			  					font-family: $raleway;
			  					opacity: .65;
			  					&:hover{
			  						opacity: 1;
			  					}
			  				}
			  			}
			  		}
			  		.post-navigation{
			  			.nav-links{
			  				a{
			  					color: $green;
			  					font-weight: bold;
			  					font-family: $raleway;
			  					font-size: 11px;
			  					span{
			  						margin-right: 7px;
			  						color: rgba(0,0,0,.35);
			  					}
			  				}
			  			}
			  		}
			  		#comments{
			  			border-top: 1px solid rgba(0,0,0,.15);
							margin-top: 20px;
			  			padding-top: 20px;
			  			#respond{
			  				#reply-title{
			  					margin-top: 0;
			  					font-weight: bold;
			  					font-family: $raleway;
			  					text-transform: uppercase;
			  					color: rgba(0,0,0,.75);
			  					font-size: 16px;
			  				}
			  				.comment-form{
			  					.logged-in-as{
			  						margin-right: 25px;
			  						margin-bottom: 15px;
			  						a{
			  							color: $green;
					  					font-weight: bold;
					  					font-family: $raleway;
					  					font-size: 12px;
					  					&:last-of-type{
					  						margin-left: 10px;
					  					}
			  						}
			  					}
			  					.comment-form-comment{
			  						label{
			  							display: block;
			  						}
			  						textarea{
			  							width: 100%;
			  							height: 100px;
			  						}
			  					}
			  					.form-submit{
			  						input{
			  							background: transparent;
			  							color: $green;
			  							font-weight: bold;
			  							font-size: 14px;
			  							border: 2px solid $green;
			  							padding: 10px 20px;
			  							float: right;
			  							&:hover{
			  								background: $green;
			  								color: white;
			  							} 
			  						}
			  					}
			  				}
			  			}
			  		}
		  			.about_image{
		  				display: inline-block;
		  				width: 49%;
		  				height: 350px;
		  				overflow: hidden;
		  				&:nth-of-type(2){
		  					float: right;
		  				}
		  				img{
		  					width: auto;
		  					position: relative;
		  					height: 100%;
		  					left: -10%;
		  				}
		  			}			  		
			  		hr{
			  			margin-bottom: 40px;
			  		}
	  		  	p{
				  		font-family: $helvetica;
				  		font-size: 14px;
				  		color: rgba(0,0,0,.65);
				  		line-height: 26px;
				  		width: 100%;
							margin: 0 auto 40px;
							display: block;
							text-align: justify;
				  		&.large{
				  			font-weight: bold;
				  			font-size: 16px;
				  			margin-bottom: 15px;
				  		}
				  	}
				  }
		  	}
		  }
		  .media{
		  	.fullText{
		  		&.main{
		  			padding-bottom: 0;
		  			.bg{
		  				height: 300px;
			  		}
			  		.title{
			  			border-bottom: none;
			  		}
		  		}
		  		.text{
		  			.video{
		  				width: 100%;
		  				display: inline-block;
		  				margin-bottom: 25px;
		  				padding-bottom: 25px;
		  				border-bottom: 1px solid rgba(0,0,0,.1);
		  				background: black;
		  				&:last-of-type{
		  					border-bottom: none;
		  				}
		  				iframe{
		  					width: 100%;
		  					height: 400px;
		  				}
		  			}
		  		}
		  	}
		  }
		  .news{
		  	.fullText{
		  		&.main{
		  			padding: 60px 0;
		  			p{
		  				font-size: 24px;
		  				width: 55%;
		  			}
		  		}
		  		.text{
		  			.right{
		  				.entry-header{
		  					display: inline-block;
		  				}
		  			}
		  			.video{
		  				width: 100%;
		  				display: inline-block;
		  				margin-bottom: 25px;
		  				padding-bottom: 25px;
		  				border-bottom: 1px solid rgba(0,0,0,.1);
		  				&:last-of-type{
		  					border-bottom: none;
		  				}
		  				iframe{
		  					width: 100%;
		  					height: 400px;
		  				}
		  			}
		  		}
		  	}
		  }	
		  .testimonials{
		  	.fullText{
		  		&.main{
		  			padding: 50px 0;
		  			.bg{
		  				height: 450px;
		  			}
		  			.firstTest{
		  				font-size: 15px;
		  				color: white;
		  				display: inline-block;
							font-family: $helvetica;
				  		line-height: 26px;
				  		width: 55%;
				  		max-width: 1000px;
							margin: 30px auto;
							font-weight: 700;
							text-align: center;		  			
						}
						.person{
							font-size: 16px;
		  				color: white;
		  				display: inline-block;
							font-family: $raleway;
				  		line-height: 32px;
				  		width: 55%;
				  		max-width: 1000px;
				  		text-align: right;
							font-weight: 700;
						}
		  		}
		  		.text{
		  			.quote-block{
		  				font-size: 185px;
					    display: block;
					    text-align: center;
					    font-family: serif;
					    line-height: 100px;
					    color: $green;
					    margin: 30px 0 0 0;
		  			}
		  			hr{

		  			}
		  			.testi{
		  				margin-bottom: 80px;
		  				border: 1px solid rgba(118, 195, 110, 0.35);
		  				padding: 15px;
		  				p{
		  					margin-bottom: 10px;
		  					&.bold{
		  						font-weight: bold;
		  						margin-bottom: 0px;
		  						color: rgba(0,0,0,.65);
		  					}
		  				}
		  				hr{
		  					border-bottom: 1px solid rgba(0,0,0,.05);
		  					margin-bottom: 20px;
		  				}
		  				.sign{
		  					display: block;
		  					background: $green; 
		  					padding: 15px 20px;
		  					text-align: right;
		  					color: white;
		  					font-weight: bold;
		  					font-size: 16px;
		  					position: relative;
  					    margin: 40px -15px -25px -15px;
		  					.job{
		  						font-size: 12px;
		  					}
		  					&:before{
		  						content: '';
		  						display: inline-block;
		  						position: absolute;
		  						left: 15px;
		  						top: -15px;
		  						border-right: 15px solid transparent;
		  						border-left: 15px solid transparent;
		  						border-bottom: 15px solid $green;
		  					}
		  				}
		  			}
		  		}
		  	}
		  }	  
	  	.cont{
	  		p{
	  			font-family: $helvetica !important;
	  			font-size: 23px !important;
	  			font-weight: bold;
	  			a{
	  				color: $green;
	  				display: block;
	  				margin-top: 15px;
	  			}
	  		}
	  	}
		  .contact{
		  	h2{
  				font-size: 30px;
					text-transform: uppercase;
					color: $green;
					font-weight: 900;
					font-family: $raleway;
					padding-bottom: 10px;
					display: block;		 
					margin-top: 0;
		  	}
		  	ul{
		  		list-style: none;
		  		margin: 0 0 40px;
		  		padding-top: 25px;
		  		padding-bottom: 25px;
		  		padding-left: 10px;
		  		border-top: 1px solid rgba(0,0,0,.15);
		  		border-bottom: 1px solid rgba(0,0,0,.15);
		  		li{
		  			font-weight: bold;
		  			padding: 5px 0;
		  			color: rgba(0,0,0,.5);
		  			font-size: 16px;
		  			text-align: center;
		  			a{
		  				color: $green;
		  			}
		  			&:first-of-type{
		  				font-size: 25px;
			  			color: rgba(0,0,0,.65);
		  			}
		  		}
		  	}
		  	form{
		  		label{
		  			display: block;
		  			font-size: 12px; 
		  		}
		  		input{
		  			width: 100%;
		  			border: 1px solid rgba(0,0,0,.15);
		  		}
		  		input[type="submit"]{
		  			background: transparent;
		  			border: 1px solid $green;
		  			color: $green;
		  			font-weight: bold;
		  			font-size: 16px;
		  			padding: 10px 0; 
		  			&:hover{
		  				background: $green;
		  				color: white;
		  			}
		  		}
		  		textarea{
		  			width: 100%;
		  			height: 75px;
		  			border: 1px solid rgba(0,0,0,.15);
		  		}
		  	}
		  }
		}
	}
}