/*
Theme Name: thereback
*/

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('fonts/MonoSocialIconsFont-1.10.eot');
    src: url('fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

@import "variables";
@import "navigation";
@import "home";
@import "secondary";
@import "footer";
@import "media";
@import "animations";

.no-pad{ padding: 0; }
.post-edit-link{ position: absolute;}
.hide{
	display: none;
}
html{
	height: 100%;
	display: inline-block;
	width: 100%;
	overflow-x: hidden; 
}
body{
	margin: 0;
	padding: 0;
	height: 100%;
	display: inline-block;
	width: 100%;
	overflow-x: hidden;
	.screen-reader-text{
		display: none;
	}
}
@-moz-document url-prefix() { 
   body{overflow: initial !important;}
   #main-content .site-content .content .text p{ font-weight: 300; }
}

@media screen and (min-width:0\0){
	body{overflow-x: visible !important;}
}
